@using MonoGame.Forms.NET.Samples.Pages;
@using MonoGame.Forms.NET.Samples.Tests.Container;
@using static MonoGame.Forms.NET.Samples.Tests.Container.MonoGameControlPanel;

@inherits LayoutComponentBase
@inject MonoGameControlPanel ControlPanel
@inject NavigationManager Navigate

<div class="container-fluid">
    <ul class="nav nav-pills nav-fill @ControlPanel.DarkNavbarActive">
        <li class="nav-item pr-1">
            <a @onclick="@(() => SetActive(ControlKeys.Welcome))" class="nav-link text-warning bi bi-box-fill @ControlPanel.WelcomeActive" href="#" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> Welcome</a>
        </li>
        <li class="nav-item pr-1">
            <a @onclick="@(() => SetActive(ControlKeys.Invalidation))" class="nav-link text-warning bi bi-hourglass @ControlPanel.InvalidationActive" href="#" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> Invalidation Control</a>
        </li>
        <li class="nav-item pr-1">
            <a @onclick="@(() => SetActive(ControlKeys.MonoGame))" class="nav-link text-warning bi bi-recycle @ControlPanel.MonoGameActive" href="#" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> MonoGame Control</a>
        </li>
        <li class="nav-item pr-1">
            <a @onclick="@(() => SetActive(ControlKeys.AdvancedInput))" class="nav-link text-warning bi bi-controller @ControlPanel.AdvancedInputActive" href="#" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> Advanced Input</a>
        </li>
        <li class="nav-item pr-1">
            <a @onclick="@(() => SetActive(ControlKeys.Multiple))" class="nav-link text-warning bi bi-layers @ControlPanel.MultipleActive" href="#" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> Multiple Controls</a>
        </li>
        <li class="nav-item pr-1">
            <a @onclick="@(() => SetActive(ControlKeys.Info))" class="nav-link text-warning bi bi-info-circle @ControlPanel.InfoActive" href="#" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> Info</a>
        </li>
    </ul>
    <div class="content px-sm-5 justify-content-center text-center">
        @Body
    </div>
</div>


@code {
    public void SetActive(ControlKeys key)
    {
        DeactivateAll();

        if (key == ControlKeys.Welcome)
        {
            ControlPanel.WelcomeActive = "active";
            Navigate.NavigateTo("/");
        }
        else if (key == ControlKeys.Invalidation)
        {
            ControlPanel.InvalidationActive = "active";
            Navigate.NavigateTo("/invalidation");
        }
        else if (key == ControlKeys.MonoGame) 
        {
            ControlPanel.MonoGameActive = "active";
            Navigate.NavigateTo("/monogame");
        }
        else if (key == ControlKeys.AdvancedInput) 
        {
            ControlPanel.AdvancedInputActive = "active";
            Navigate.NavigateTo("/advanced");
        }
        else if (key == ControlKeys.Multiple) 
        {
            ControlPanel.MultipleActive = "active";
            Navigate.NavigateTo("/multiple");
        }
        else if (key == ControlKeys.Info) 
        {
            ControlPanel.InfoActive = "active";
            ControlPanel.DarkNavbarActive = "bg-dark rounded";
            Navigate.NavigateTo("/info");
        }
    }    

    public void DeactivateAll()
    {
        ControlPanel.WelcomeActive = "";
        ControlPanel.InvalidationActive = "";
        ControlPanel.MonoGameActive = "";
        ControlPanel.AdvancedInputActive = "";
        ControlPanel.MultipleActive = "";
        ControlPanel.InfoActive = "";
        ControlPanel.DarkNavbarActive = "";
    }
}
